# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Main binary (replace 'main' with your actual binary name if different)
server_pi
fide-app
