<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go + HTMX Postgres</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/style.css">
   </head>
<body>
   <div class="container">
    <h1>FIDE Player Search</h1>
    
    <input type="text" name="search" 
           hx-post="/search" 
           hx-target="#results-table" 
           hx-trigger="keyup changed delay:300ms"
           placeholder="Search players...">
    
    <div id="table-results">
        <table id="results-table">
            {{template "table.html" .}}
        </table>
    </div>
</div></body></html>


