{{/* table.html */}}
<thead>
    <tr>
        {{range .Headers}}
            {{$dir := "DESC"}}
            {{if eq $.CurrentSort .}}{{if eq $.CurrentDir "DESC"}}{{$dir = "ASC"}}{{end}}{{end}}
            <th hx-get="/search?search={{$.Query}}&sort={{.}}&dir={{$dir}}" 
                hx-target="#results-table" 
		hx-include="[name='fed']"
                style="cursor:pointer;">
                {{.}} {{if eq $.CurrentSort .}}{{if eq $.CurrentDir "DESC"}}▼{{else}}▲{{end}}{{else}}↕{{end}}
            </th>
        {{end}}
    </tr>
</thead>
<tbody>
    {{range $row := .Rows}}
    <tr>
        {{range $col := $.Headers}}
            <td>{{index $row $col}}</td>
        {{end}}
    </tr>
    {{end}}
    
    {{/* Load More Button */}}
    {{if eq (len .Rows) 20}}
    <tr>
        <td colspan="100%">
            <button hx-get="/search?search={{.Query}}&offset={{.NextOffset}}&sort={{.CurrentSort}}&dir={{.CurrentDir}}" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML">
                Load More...
            </button>
        </td>
    </tr>
    {{end}}
</tbody>
